hr {
    border-style: none;
    border-bottom-style: dotted;  
    /* border-style: dotted none none;    another way*/
    border-width: 5px;
    border-color: #27a1a1;
    width: 5%;
    
}

body {
    background-color: #e2ffff;
}

h1{
    color: #27a1a1;
    background-color: #beffff;
    
}

h3{
    color: #27a1a1;
    background-color: #beffff;
    
}

table{
    border: 2px solid;
    border-color: rgb(23, 209, 193);
}

a:link{
    color: royalblue;
}

a:visited{
    color: rgb(14, 215, 41);
}

a:hover{
    color: rgb(255, 0, 0);
}